name: Release a CV

on:
  push:
    branches:
      - main
      
permissions:
  contents: write
  
jobs:
  call_rendercv_workflow:
    name: RenderCV
    uses: ./.github/workflows/rendercv.yaml

  build:
    needs: call_rendercv_workflow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Download
        uses: actions/download-artifact@v4
        with:
          name: Render CV Output
          path: output
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            output/*.pdf
          generate_release_notes: true
          make_latest: true
          tag_name: ${{ github.run_id }}