name: Render a CV

on:
  # push:
  #   branches:
  #     - main
  workflow_call:

permissions:
  contents: write

jobs:
  rendercv:
    name: RenderCV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install RenderCV
        run: |
          pip install pyyaml reportlab --break-system-packages
      - name: Render CVs
        run: |
          mkdir -p output
          python src/generate_resume_pdf.py src/David_Ashman_CV.yaml output/David_Ashman_CV.pdf output/David_Ashman_Bio.pdf
      - name: Upload 
        uses: actions/upload-artifact@v4
        with:
          name: Render CV Output
          path: output