name: Render a CV

on:
  # push:
  #   branches:
  #     - main
  workflow_call:

permissions:
  contents: write

jobs:
  rendercv:
    name: RenderCV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - name: Install RenderCV
        run: |
          pip install "rendercv[full]==2.3"
      - name: RenderCVs
        run: |
          mkdir -p output
          for cv_path in $(find src  -maxdepth 1 -type f -name "*.yaml"); do
            cv_file=$(basename $cv_path)
            rendercv render $cv_path --pdf-path output/${cv_file%.yaml}.pdf
          done
      - name: Upload rendercv_output as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: RenderCV Output
          path: output